$mainColor: #020202;
$secondaryColor: #525252;
$borderColor: #F2F2F2;

h3{
    font-size: 1.25rem; //20px
    line-height: 1.2;
}
p{
    font-size: 0.875rem; //14px
    line-height: 1.5;
}

.fw-xxl{
    font-weight: 900;
}
.fw-xl{
    font-weight: 700;
}
.border-bottom{
    border-bottom: 1px solid $borderColor;
}