.serve{
    font-size: 16px;
    font-family: 'Noto Sans TC', sans-serif;

    max-width: 1296px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: calc((1296px - 1.5rem*2)/3);
    border: 1px solid $borderColor;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    .card__text{
        flex-grow: 1;
        padding: 1.25rem 2rem;
        h3{
            color: $mainColor;
            margin-bottom: 0.75rem;
        }
        p{
            color: $secondaryColor;
        }
    }
    .card__link{
        .link{
            padding: 1.25rem 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                color: $mainColor;
                line-height: 1.5;
            }
        }
    }
}